<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>


  <main>
    <%- include('../partials/search') %>
    <div class="newMain">
      <% meme.forEach (data => { %>
      <section>
        <li>
          <div class="container">
            <img src='<%= data.url%>' alt="Avatar" class="image"><br>
            <button class='open' name="<%= data.template_id %>" type="submit">Caption This Meme</button>
          </div>
        </li>
        <form id="expand" name="<%= data.template_id %>" method="post" action="/caption">
          <input id="input" type="hidden" name="id" value="<%= data.template_id %>">
          <input id="input" type="text" name="text0" placeholder="text caption meme">
          <input id="input" type="text" name="text1" placeholder="text caption meme">
          <% if( data.box_count > 2) { %>
          <input id="input" type="text" name="text2" placeholder="text caption meme">
          <% } if(data.box_count > 3){ %>
          <input id="input" type="text" name="text3" placeholder="text caption meme">
          <% } if(data.box_count > 4){%>
          <input id="input" type="text" name="text4" placeholder="text caption meme">
          <% } %>
          <button id="postCap" type="submit">Post Caption</button>
        </form>
      </section>

      <% }); %>
    </div>


  </main>
  <%- include('../partials/footer') %>
</body>

</html>