<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <form id="searchFormShow" method="get" action="/searches">

    <input id="input1" name="name" placeholder="Enter a concept">


    <button id="butt1" type="submit">Search All Memes</button>

  </form>

  <main>

    <% meme.forEach (data => { %>

    <section>
      <li>
        <div class="container">
          <img src='<%= data.url%>' alt="Avatar" class="image"><br>
          <div class="overlay">
            <%= data.template_id%>
            <div class="text"> <%= data.template_id %> <%= data.name %><br></div>
          </div>
        </div>
        <button class='open' name="<%= data.template_id %>" type="submit">Caption This Meme</button>
      </li>
      <form id="expand" name="<%= data.template_id %>" method="post" action="/caption">
        <input id="input" type="hidden" name="id" value="<%= data.template_id %>">

        <input id="input" type="text" name="text0" placeholder="top text caption meme">
        <input id="input" type="text" name="text1" placeholder="bottom text caption meme">
        <button id="postCap" type="submit">Post Caption</button>
      </form>
    </section>
    </div>



    <% }); %>

  </main>
  <%- include('../partials/footer') %>

</body>

</html>