<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header') %>
  <form id="searchFormShow" method="get" action="/searches">

    <input id="input1"  name="name" placeholder="Enter a concept">


    <button id="butt1" type="submit">Search All Memes</button>

  </form>
  <main>

    <% meme.forEach (data => { %>

    
      <section>
        <li>
          <div class="container">
            <img src='<%= data.url%>' alt="Avatar" class="image"><br>
            <div class="overlay">
              <%= data.template_id%>
              <div class="text"> <%= data.template_id %> <%= data.name %><br></div>
            </div>
          </div>
          <button class="button" type="submit">Caption This Meme</button>
        </li>
      </section>
<<<<<<< Updated upstream
      
    <form class="<%= data.template_id%>" method="post" action="/caption" >
=======
    </form>
    <div >
    <form class="capForm" method="post" action="/caption" >
>>>>>>> Stashed changes
      <input id="input" type="text" name="text0" placeholder="top text caption meme"><br>
      <input id="input" type="text" name="text1" placeholder="bottom text caption meme"><br>
      <button id="postCap" type="submit">Post Caption</button>
    </form>
<<<<<<< Updated upstream
=======
    </div>
>>>>>>> Stashed changes

    <% }); %>

  </main>
    <%- include('../partials/footer') %>

</body>

</html>