<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header') %>
  <form id="searchFormShow" method="get" action="/searches">

    <input id="input1" name="name" placeholder="Enter a concept">


    <button id="butt1" type="submit">Search All Memes</button>

  </form>

  <main>

    <% meme.forEach (data => { %>

    <section>
      <li>
        <div class="container">
          <img src='<%= data.url%>' alt="Avatar" class="image"><br>
          <div class="overlay">
            <%= data.template_id%>
            <div class="text"> <%= data.template_id %> <%= data.name %><br></div>
          </div>
<<<<<<< HEAD
        </div>
        <button class='open' name="<%= data.template_id %>" type="submit">Caption This Meme</button>
      </li>
    </section>
    <form id="expand" name="<%= data.template_id %>" method="post" action="/caption">
=======

          <button class='button' type="submit">Caption This Meme</button>

        </li>
      </section>

    </form>

    <form class="<%= data.template_id%>" method="post" action="/caption">

>>>>>>> 83b9e037b0e9a3037b362272e9dd37917962b24d
      <input id="input" type="hidden" name="id" value="<%= data.template_id %>"><br>

      <input id="input" type="text" name="text0" placeholder="top text caption meme"><br>
      <input id="input" type="text" name="text1" placeholder="bottom text caption meme"><br>
      <button id="postCap" type="submit">Post Caption</button>
    </form>
    </div>



    <% }); %>

  </main>
  <%- include('../partials/footer') %>

</body>

</html>