<!DOCTYPE html>
<html>

<%- include('../pages/partials/head') %>

<body>

  <%- include('../pages/partials/header') %>

  <main>

    <form id="saveForm" method="post" action="/save">
      <li>
        <img src='<%= data %>'>
      </li>
      <input type="hidden" name="data" value="<%=data%>">
      <button id="butt" type="submit">Save This Meme</button>
    </form>

  </main>

  <%- include('../pages/partials/footer') %>


  <%- include('../pages/partials/scripts') %>

</body>

</html>