<!DOCTYPE html>
<html lang="en">

<%- include('../pages/partials/head') %>

<body>
    <%- include('../pages/partials/header') %>
    <main>
        <% memes.forEach (data => { %>
        <section class="container">
            <li>
                <img src='<%= data.url%>' alt="Avatar" class="image">
                <ul class="links">
                    <li class="sharethis-inline-share-buttons"></li>
                </ul>

            </li>
            <form method="post" action="/delete/<%= data.id %>?_method=delete">
                <button type="submit"> Delete </button>
            </form>

        </section>

        <% }); %>

    </main>

    <%- include('../pages/partials/footer') %>


</body>

</html>