<!DOCTYPE html>
<html lang="en">

<%- include('../pages/partials/head') %>

<body>
    <%- include('../pages/partials/header') %>
    <main>
        <% memes.forEach (data => { %>
        <section>
            <li>
                <img src='<%= data.url%>' alt="Avatar" class="image"><br>
            </li>
            <form method="post" action="/delete/<%= data.id %>?_method=delete">
                <button type="submit"> Delete </button>
            </form>
        </section>

        <% }); %>

    </main>

    <%- include('../pages/partials/footer') %>


</body>

</html>