<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Meme Thingy</title>
</head>
<%- include('../pages/partials/header') %>

<body>
    <main>
        <% memes.forEach (data => { %>
        <section>
            <li>
                <div class="container">
                    <img src='<%= data.url%>' alt="Avatar" class="image"><br>
                    <div class="overlay">
                        <%= data.template_id%>
                        <div class="text"> <%= data.template_id %> <%= data.name %><br></div>
                    </div>
                </div>
            </li>
            <form method="post" action="/delete/<%= data.id %>?_method=delete">
                <button type="submit"> Delete</button>
            </form>
        </section>

        <% }); %>
        <img src="<%= memes.url %>" alt="meme">
    </main>

    <%- include('../pages/partials/footer') %>

</body>

</html>